<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Moonlight Api 🌙</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:title" content="Moonlight API 🌙">
<meta property="og:description" content="dashboard da api">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css" />
 <link rel="apple-touch-icon" sizes="180x180" href="https://i.pinimg.com/originals/e0/63/ee/e063ee69b75d8502aad9218e648db8e2.jpg">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/65e1d2a3ef.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="canonical" href="https://demo-basic.adminkit.io/">
<link href="https://fonts.googleapis.com/css2?family=Original+Surfer&amp;display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" type="text/css"
media="all" />
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css"
href="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
href="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/style.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "r246lwmtd1");
  </script>
  
<style>
body {
min-height: 100vh;

flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: url('<%= user.wallpaper %>');
color: #000;
position: relative;
}

.stars {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
top: 0;
left: 0;
z-index: 0;
}

.star {
position: absolute;
width: 2px;
height: 2px;
background: rgba(255, 255, 255, 0.8);
box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
border-radius: 50%;
animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
from { opacity: 0.5; transform: scale(1); }
to { opacity: 1; transform: scale(1.3); }
}

.shooting-star {
position: absolute;
width: 7px;
height: 7px;
background: rgba(255, 255, 255, 1);
box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
border-radius: 15%;
animation: shooting 1.5s linear forwards;
}

@keyframes shooting {
from {
transform: translateX(0) translateY(0) rotate(45deg);
opacity: 1;
}
to {
transform: translateX(-50vw) translateY(30vh) rotate(45deg);
opacity: 0;
}
}

.tutotxt {}

.fotos {
width: 90%;
border-radius: 7px;
}

.tutotxtt {
margin: 7px;
text-align: center;
}

.user-info {
display: flex;
align-items: center;
margin-bottom: 15px;
}

.user-photo {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 13px;
}

.user-name {
font-size: 18px;
text-align: center;
}

.margem {
margin-left: 7px;
}

.status {
display: flex;
align-items: center;
justify-content: flex-start;
background-color: white;
width: 6%;
border-radius: 5px;
color: black;
}



.vertical-bar {
width: 1px;
height: 70px;
margin: 0;
padding: 2px;
background-color: red;
border-radius: 7px;
}

.vertical-bar2 {
width: 1px;
height: 70px;
margin: 0;
padding: 2px;
background-color: gold;
border-radius: 7px;
}

.current-time {
font-size: 19px;
margin-right: 0;
margin-left: 60%;
}

 .custom-popup {
background: #222;
color: #fff;
border-radius: 10px;
}

.custom-title {
font-size: 20px;
color: #00DEFF;
}

.custom-footer {
font-family: 'Great Vibes', cursive;
color: #bbb;
}

.profile-container {
position: relative;
display: inline-block;
}

.profile-img {
border-radius: 100%;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
width: 50px;
height: 50px;
}

.verified-badge {
position: absolute;
top: 0;
right: 0;
width: 13px;
height: 13px;
}

.verified-badgeAdm {
position: absolute;
top: 4;
right: 0;
width: 20px;
height: 20px;
}

footer {
position: absolute;
bottom: 10px;
width: 100%;
margin-top: auto;
text-align: center;
font-size: 0.9rem;
color: #bbb;
position: relative;
z-index: 1;
padding: 10px;
}

footer span {
color: #8894ff;
font-weight: bold;
}
</style>

</head>

<body>
<div class="stars" id="stars"></div>

<div class="header">
<div class="header-left">
<div class="menu-icon bi bi-list"></div>


<div class="margem">
<div style="color: #B5B5FF;" class="fas fa-users-cog" data-toggle="header_search"></div>
</div>
<div class="header-search">
<form>
<div class="form-group mb-0">
<% if (user.isAdm) { %>
<a style="color: #B5B5FF;" class="verp" href="/admin">Painel Adm</a>
<% } else { %>
<a style="color: #B5B5FF;" class="verp" >Sociais Adm:</a><br>
<span style="color: #ddd;" class="fa fa-youtube"></span><a href="https://m.youtube.com/@Moonlight_Devs"> YouTube</a></span><br>
<span style="color: #ddd;" class="fa fa-instagram"></span><a href="https://www.instagram.com/moonlight_juliana"> Instagram</a></span><br>
<span style="color: #ddd;" class="fa fa-tiktok"></span><a href="https://tiktok.com/@moonlight.devs"> TikTok</a></span>
<% } %>
<div class="dropdown">

<div class="dropdown-menu dropdown-menu-right">
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">From</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text" />
</div>
</div>
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">To</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text" />
</div>
</div>
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text" />
</div>
</div>
<div class="text-right">
<button class="btn btn-primary">Search</button>
</div>
</div>
</div>
</div>
</form>
</div>
</div>



<div class="header-right">
<div class="dashboard-setting user-notification">
<div class="dropdown">
<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
<i class="dw dw-settings2"></i>
</a>
</div>
</div>
<div class="user-notification">
<div class="dropdown">
<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
<i class="icon-copy dw dw-notification"></i>
<span class="badge notification-active"></span>
</a>
<div class="dropdown-menu dropdown-menu-right">
<div class="notification-list mx-h-350 customscroll">
<ul>
<li>
<a href="#">
<img src="https://files.catbox.moe/i2zz35.jpg" alt="" />
<h3>Moonlight_Devs</h3>
<p>
Seja bem-vindos a nossa rest API 🌙
</p>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="user-info-dropdown">
<div class="dropdown">
<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
<span class="user-icon">
<img src="<%= user.ft %>" alt="" />
</span>
<span class="user-name">
<%= user.username %>
</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
<a class="dropdown-item"><i class="fa fa-calendar"></i> <span id="current-date"></span></a>
<hr>
<a class="dropdown-item" href="/myperfil"><i class="dw dw-user1"></i> Perfil</a>
<a class="dropdown-item" href="/planos"><i class="dw dw-shop"></i> Planos</a>
<!---<a class="dropdown-item" href="/codiguin"><i class="dw dw-gift"></i> Codiguin</a>--->
<a class="dropdown-item" href="/login"><i class="dw dw-logout"></i> Sair</a>
</div>
</div>
</div>
<div class="github-link">
<img src="vendors/images/github.svg" alt="" />
</div>
</div>
</div>

<div class="right-sidebar">
<div class="sidebar-title">
<h3 class="weight-600 font-16 text-blue">
Configuração da interface
<span class="btn-block font-weight-400 font-12">Faça sua personalização.</span>
</h3>
<div class="close-sidebar" data-toggle="right-sidebar-close">
<i class="icon-copy ion-close-round"></i>
</div>
</div>
<div class="right-sidebar-body customscroll">
<div class="right-sidebar-body-content">
<h4 class="weight-600 font-18 pb-10">Fundo do Cabeçalho</h4>
<div class="sidebar-btn-group pb-30 mb-10">
<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
</div>

<h4 class="weight-600 font-18 pb-10">Plano de fundo da barra lateral</h4>
<div class="sidebar-btn-group pb-30 mb-10">
<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light">White</a>
<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
</div>

<h4 class="weight-600 font-18 pb-10">Ícone de menu suspenso</h4>
<div class="sidebar-radio-group pb-10 mb-10">
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
value="icon-style-1" checked="" />
<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
value="icon-style-2" />
<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
value="icon-style-3" />
<label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
</div>
</div>

<h4 class="weight-600 font-18 pb-10">Ícones da lista de menu </h4>
<div class="sidebar-radio-group pb-30 mb-10">
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-1" checked="" />
<label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-2" />
<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
aria-hidden="true"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-3" />
<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-4" checked="" />
<label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-5" />
<label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
value="icon-list-style-6" />
<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
</div>
</div>

<div class="reset-options pt-30 text-center">
<button class="btn btn-danger" id="reset-settings">
Redefinir configurações
</button>
</div>
</div>
</div>
</div>

<div class="left-side-bar">
<div class="brand-logo">
<div class="close-sidebar" data-toggle="left-sidebar-close">
<i class="ion-close-round"></i>
</div>
</div>
<div class="menu-block customscroll mCustomScrollbar _mCS_3">
<div class="sidebar-menu icon-style-1 icon-list-style-1">
<ul id="accordion-menu">
<li>
<a href="/" class="dropdown-toggle no-arrow">
<span style="color: #B5B5FF" class="micon bi bi-house"></span>
<span style="color: #B5B5FF" class="mtext">DASHBOARD</span>
</a>
</li>

<hr style="color: #B5B5FF">
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-download"></span>
<span class="mtext">Downloads</span>
</a>
<ul class="submenu">

<li><a href="/api/download/play?query=la casa de papel song&apikey=<%= user.key %>">Play</a></li>
<li><a href="/api/download/playvd?query=la casa de papel song&apikey=<%= user.key %>">PlayVd</a></li>
<li><a href="/api/download/ytMp3?apikey=<%= user.key %>&url=https://youtu.be/ehZFyxRbyd0?si=yh92BKj8AFj7k_Be">YtMp3</a></li>
<li><a href="/api/download/ytMp4?apikey=<%= user.key %>&url=https://youtu.be/ehZFyxRbyd0?si=yh92BKj8AFj7k_Be">YtMp4</a></li>
<li><a href="/api/download/audiomeme?query=Bolsonaro&apikey=<%= user.key %>">AudioMeme</a></li>
<li><a href="/api/download/apkpure?url=https://apkpure.com/little-panda-baby-cat-daycare/com.sinyee.babybus.catII&apikey=<%= user.key %>">ApkPure</a></li>
<li><a href="/api/download/xvideos?url=https://www.xvideos.com/video.otvibpodcae/madrasta_dividiu_a_cama_com_o_enteado_apos_filme_de_terror_e_o_seduziu_para_foder_ate_gozada_acidental&apikey=<%= user.key %>">Xvideos</a></li>
<li><a href="/api/download/tiktok?url=https://vm.tiktok.com/ZMBDuK8dA/&apikey=<%= user.key %>">TikTok</a></li>
<li><a href="/api/download/tiktokUser?name=@moonlight.devs&apikey=<%= user.key %>">TikTok User</a></li>
<li><a href="/api/download/tiktokImages?url=https://vm.tiktok.com/ZMBmymcSL/&apikey=<%= user.key %>">TikTok Carrosel</a></li>
<li><a href="/api/download/instagram?url=https://www.instagram.com/p/DHbVUTyu--4/?igsh=ZWVhdGZ1OTRqeTF0&apikey=<%= user.key %>">Instagram</a></li>
<li><a href="/api/download/instagramDl?url=https://www.instagram.com/p/DHbVUTyu--4/?igsh=ZWVhdGZ1OTRqeTF0&apikey=<%= user.key %>">Instagram 2</a></li>
<li><a href="/api/download/Facebook?url=https://www.facebook.com/100007758586053/videos/2933875396881051/?mibextid=rS40aB7S9Ucbxw6v&apikey=<%= user.key %>">Facebook Dl</a></li>
<li><a href="/api/download/CupCutDl?url=https://www.capcut.com/t/ZmFg1UAy7/&apikey=<%= user.key %>">CupCut Dl</a></li>
</ul>
</li>
<!------>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-search"></span>
<span class="mtext">Pesquisa</span>
</a>
<ul class="submenu">

<li><a href="/api/pesquisa/youtube?query=gatinhos&apikey=<%= user.key %>">YouTube</a></li>
<li><a href="/api/pesquisa/xvideos?query=Novinhas&apikey=<%= user.key %>">Xvideos</a></li>
<li><a href="/api/pesquisa/tiktok?query=gatinhos&apikey=<%= user.key %>">TikTok</a></li>
<li><a href="/api/pesquisa/amazon?query=celular&apikey=<%= user.key %>">Amazon</a></li>
<li><a href="/api/pesquisa/wikipedia?query=programação&apikey=<%= user.key %>">Wikipédia</a></li>
<li><a href="/api/pesquisa/aptoide?query=pou&apikey=<%= user.key %>">Aptoide</a></li>
<li><a href="/api/pesquisa/apkPureQuery?query=gatinhos&apikey=<%= user.key %>">ApkPure</a></li>
<li><a href="/api/pesquisa/pinterest?query=gatinhos&apikey=<%= user.key %>">Pinterest</a></li>
<li><a href="/api/pesquisa/pinterestGif?query=gatinhos gif&apikey=<%= user.key %>">Pinterest Gif</a></li>
<li><a href="/api/pesquisa/pinterestVideo?query=anime&apikey=<%= user.key %>">Pinterest Video</a></li>
<li><a href="/api/pesquisa/PinterestMultiMidia?url=https://pin.it/903E4qliq&apikey=<%= user.key %>">PinterestMultiMidia</a></li>
<li><a href="/api/pesquisa/pensador?query=poesia&apikey=<%= user.key %>">Pensador</a></li>
<li><a href="/api/pesquisa/dafont?query=block&apikey=<%= user.key %>">DaFont</a></li>
<li><a href="/api/pesquisa/biblia?query=salmo%2091&apikey=<%= user.key %>">Bíblia</a></li>
<li><a href="/api/pesquisa/portalZacaria?apikey=<%= user.key %>">Portal Zacarias</a></li>
<li><a href="/api/pesquisa/Playstore?query=whatsapp&apikey=<%= user.key %>">Playstore</a></li>
<li><a href="/api/pesquisa/wallpaper?query=gatinhos&apikey=<%= user.key %>">Wallpaper</a></li>

</ul>
</li>
<!----->
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon bi bi-laptop"></span>
<span class="mtext">Inteligências</span>
</a>
<ul class="submenu">
<li>
<a href="/api/ai/texto/gemini?query=Bom dia&apikey=<%= user.key %>">Gemini</a>
<a href="/api/ai2/texto/llma?query=Bom dia&apikey=<%= user.key %>">Llama</a>
<a href="/api/ai2/texto/llma2?query=Bom dia&apikey=<%= user.key %>">Llama 2</a>
<a href="/api/ai2/texto/sqlcode?query=Bom dia&apikey=<%= user.key %>">Sqlcode</a>
<a href="/api/ai2/texto/mistral?query=Bom dia&apikey=<%= user.key %>">Mistral</a>
<a href="/api/ai2/texto/deepseek?query=Bom dia&apikey=<%= user.key %>">Deepseek</a>
<a href="/api/ai2/texto/deepseek-code?query=Bom dia&apikey=<%= user.key %>">Deepseek-Code</a>
<a href="/api/ai/texto/chatGpt?query=Bom dia&apikey=<%= user.key %>">Chat Gpt</a>
<a href="/api/ai/texto/gptPrompt?prompt=Voce e um chat bot do whatsapp&query=Bom dia&apikey=<%= user.key %>">Gpt Prompt</a>
<a href="/api/ai/imagem/similar?url=https://files.catbox.moe/hhvsrn.jpg&apikey=<%= user.key %>">Rosto similar</a>
<a href="/api/ai/imagem/imagemAi?query=gato rosa&apikey=<%= user.key %>">imagem Ai</a>
<a href="/api/ai/imagem/TextoToImg?query=gato rosa&apikey=<%= user.key %>">Text To Img</a>
<a href="/api/ai/imagem/colorAi?url=https://files.catbox.moe/750p0u.png&apikey=<%= user.key %>">Color imagem Ai</a>
<a href="/api/ai/sticker/stickAi?query=pink cat&apikey=<%= user.key %>">Sticker Ai</a>
</li>
</ul>
</li>
<!------>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-note-sticky"></span>
<span class="mtext">Figurinhas</span>
</a>
<ul class="submenu">
<li>
<a href="/api/sticker/emojimix?emoji1=🌙&emoji2=😍&apikey=<%= user.key %>">EmojiMix</a>
<a href="/api/sticker/emojimix2?emoji=😍&apikey=<%= user.key %>">EmojiMix 2</a>
<a href="/api/sticker/figu_aleatori?apikey=<%= user.key %>">Figu Aleatoria</a>
<a href="/api/sticker/figu_random?apikey=<%= user.key %>">Figu Random</a>
<a href="/api/sticker/figu_emoji?apikey=<%= user.key %>">Figu Emoji</a>
<a href="/api/sticker/figu_desenho2?apikey=<%= user.key %>">Figu Desenho</a>
<a href="/api/sticker/figu_memes?apikey=<%= user.key %>">Figu Memes</a>
<a href="/api/sticker/figu_anime?apikey=<%= user.key %>">Figu Anime</a>
<a href="/api/sticker/figu_coreana?apikey=<%= user.key %>">Figu Coreana</a>
<a href="/api/sticker/figu_bebe?apikey=<%= user.key %>">Figu Bebe</a>
<a href="/api/sticker/figu_desenho?apikey=<%= user.key %>">Figu Desenho</a>
<a href="/api/sticker/figu_animais?apikey=<%= user.key %>">Figu Animais</a>
<a href="/api/sticker/figu+18?apikey=<%= user.key %>">figu+18</a>
<a href="/api/sticker/figu_memes2?apikey=<%= user.key %>">Figu Memes2</a>
<a href="/api/sticker/figu_anime2?apikey=<%= user.key %>">Figu Anime2</a>
<a href="/api/sticker/figu_coreanas2?apikey=<%= user.key %>">Figu Coreanas2</a>
<a href="/api/sticker/figu_bts?apikey=<%= user.key %>">Figu Bts</a>
<a href="/api/sticker/figu_gatos?apikey=<%= user.key %>">Figu Gatos</a>
</li>
</ul>
</li>
<!------>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-pencil"></span>
<span class="mtext">Canva</span>
</a>
<ul class="submenu">

<li><a href="/api/canva/bemVindo?titulo=Moonlight Api&avatar=https://files.catbox.moe/i2zz35.jpg&fundo=https://files.catbox.moe/bnkj56.jpg&desc=Seja bem-vindo usuário&nome=Moonlight_Devs&apikey=<%= user.key %>">Bem-Vindo/Saiu</a></li>
<li><a href="/api/canva/level?nome=Moonlight_Devs&avatar=https://files.catbox.moe/i2zz35.jpg&fundo=https://files.catbox.moe/bnkj56.jpg&level1=1&level2=2&apikey=<%= user.key %>">Level</a></li>
<li><a href="/api/canva/musicCard?name=Moonlight API&avatar=https://files.catbox.moe/i2zz35.jpg&artistName=Moonlight_Devs&time=1,36&apikey=<%= user.key %>">Music Card</a></li>
<li><a href="/api/canva/musicCard2?name=Moonlight API&avatar=https://files.catbox.moe/i2zz35.jpg&artistName=Moonlight_Devs&apikey=<%= user.key %>">Music Card 2</a></li>
<li><a href="/api/canva/montagem/bolsonaro?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Bolsonaro</a></li>
<li><a href="/api/canva/montagem/bolsonaro2?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Bolsonaro 2</a></li>
<li><a href="/api/canva/montagem/bolsonaro3?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Bolsonaro 3</a></li>
<li><a href="/api/canva/montagem/comunismo?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Comunismo</a></li>
<li><a href="/api/canva/montagem/lgbt?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Lgbt</a></li>
<li><a href="/api/canva/montagem/pepe?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Pepe</a></li>
<li><a href="/api/canva/montagem/romero?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Romero</a></li>
<li><a href="/api/canva/montagem/ednaldotv?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Ednaldotv</a></li>
<li><a href="/api/canva/montagem/mms?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Mms</a></li>
<li><a href="/api/canva/montagem/bobross?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Bobross</a></li>
<li><a href="/api/canva/montagem/facepalm?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Facepalm</a></li>
<li><a href="/api/canva/montagem/karaba?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Karaba</a></li>
<li><a href="/api/canva/montagem/rip?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Rip</a></li>

</ul>
</li>
<!------>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-plug"></span>
<span class="mtext">Efeitos</span>
</a>
<ul class="submenu">
<li>

<li><a href="/api/canva/montagem/blur?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Blur</a></li>
<li><a href="/api/canva/montagem/circle?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Circle</a></li>
<li><a href="/api/canva/montagem/invert?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Invert</a></li>
<li><a href="/api/canva/montagem/pixelate?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">Pixelate</a></li>
<li><a href="/api/canva/montagem/dither?url=https://files.catbox.moe/i2zz35.jpg&apikey=<%= user.key %>">dither</a></li>

</li>
</ul>
</li>
<!------>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon mdi mdi-emoticon-devil-outline"></span>
<span class="mtext">+18</span>
</a>
<ul class="submenu">

<li><a href="/api/18/hanal?apikey=<%= user.key %>">Hanal</a></li>
<li><a href="/api/18/anal?apikey=<%= user.key %>">Anal</a></li>
<li><a href="/api/18/pussy?apikey=<%= user.key %>">Pussy</a></li>
<li><a href="/api/18/hentai?apikey=<%= user.key %>">Hentai</a></li>
<li><a href="/api/18/thigh?apikey=<%= user.key %>">Thigh</a></li>
<li><a href="/api/18/boobs?apikey=<%= user.key %>">Boobs</a></li>
<li><a href="/api/18/ass?apikey=<%= user.key %>">Ass</a></li>
<li><a href="/api/18/kanna?apikey=<%= user.key %>">Kanna</a></li>
<li><a href="/api/18/4k?apikey=<%= user.key %>">4k</a></li>
<li><a href="/api/18/hthigh?apikey=<%= user.key %>">Hthigh</a></li>
<li><a href="/api/18/tentacle?apikey=<%= user.key %>">Tentacle</a></li>
<li><a href="/api/18/hboobs?apikey=<%= user.key %>">Hboobs</a></li>
<li><a href="/api/18/holo?apikey=<%= user.key %>">Holo</a></li>
<li><a href="/api/18/hass?apikey=<%= user.key %>">Hass</a></li>
<li><a href="/api/18/pgif?apikey=<%= user.key %>">Pgif</a></li>
<li><a href="/api/18/yaoi?apikey=<%= user.key %>">Yaoi</a></li>
<li><a href="/api/18/hneko?apikey=<%= user.key %>">Hneko</a></li>
<li><a href="/api/18/hkitsune?apikey=<%= user.key %>">Hkitsune</a></li>
<li><a href="/api/18/kemonomimi?apikey=<%= user.key %>">Kemonomimi</a></li>
<li><a href="/api/1-8/trap?apikey=<%= user.key %>">Trap</a></li>
<li><a href="/api/1-8/wifu?apikey=<%= user.key %>">Wifu</a></li>
<li><a href="/api/1-8/blowjob?apikey=<%= user.key %>">Blowjob</a></li>
<li><a href="/api/1-8/neko?apikey=<%= user.key %>">Neko</a></li>

</ul>
</li>
<!------>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-images"></span>
<span class="mtext">Imagem</span>
</a>
<ul class="submenu">

<li><a href="/api/imagem/travaZapImg?apikey=<%= user.key %>">TravaZap img</a></li>
<li><a href="/api/imagem/travaZapImg2?apikey=<%= user.key %>">TravaZapF img</a></li>
<li><a href="/api/imagem/metadinha?apikey=<%= user.key %>">Metadinha</a></li>
<li><a href="/api/imagem/metadinha2?apikey=<%= user.key %>">Metadinha2</a></li>
<li><a href="/api/imagem/logo/logo?query=Moonlight&apikey=<%= user.key %>">Logo</a></li>
<li><a href="/api/imagem/logo/logo2?query=Moonlight&apikey=<%= user.key %>">Logo2</a></li>
<li><a href="/api/imagem/logo/logo3?query=Moonlight&apikey=<%= user.key %>">Logo3</a></li>
<li><a href="/api/imagem/logo/logo4?query=Moonlight&apikey=<%= user.key %>">Logo4</a></li>
<li><a href="/api/imagem/logo/logo5?query=Moonlight&apikey=<%= user.key %>">Logo5</a></li>

</ul>
</li>

<!----->
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon bi bi-laptop"></span>
<span class="mtext">Outros</span>
</a>
<ul class="submenu">
<li>
<a href="/api/outro/jogo?query=flamengo&apikey=<%= user.key %>">Próximo Jogo</a>
<a href="/api/outro/placarTime?query=flamengo&apikey=<%= user.key %>">Placar Time</a>
<a href="/api/outro/porcentagem?apikey=<%= user.key %>">Porcentagem Pg</a>
<a href="/api/outro/horarios?hora=22&apikey=<%= user.key %>">Horários Pg</a>
<a href="/api/outro/ddd?id=11&apikey=<%= user.key %>">Ddd City</a>
<a href="/api/outro/signos?signo=gemeos&apikey=<%= user.key %>">Signos</a>
</li>
</ul>
</li>
<!------>
<hr style="color: #B5B5FF">
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon fa-thin fa-headset"></span>
<span class="mtext">Suporte API</span>
</a>
<ul class="submenu">
<li>
<a href="youtube.com/@Moonlight_Devs">YouTube</a>
<a href="https://www.instagram.com/moonlight_juliana">Instagram</a>
<a href="tiktok.com/@moonlight.devs">TikTok</a>
</li>
</ul>
</li>

<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon bi bi-robot"></span>
<span class="mtext">Bots</span>
</a>
<ul class="submenu">
<li>
<a href="#">Moon Bot</a>
<a href="https://t.me/lunarNoturno_bot">Lunar Tele</a>
</li>
</ul>
</li>

<li>
<li>
</li>
<li>
</li>
<li>
</li>
</ul>
</div>
</div>
</div>


<!---<div class="pre-loader">
<div class="pre-loader-box">
<div class="loader-logo">
<img src="https://i.ibb.co/DtFgv3g/giphy.webp" alt>
</div>
<div class="loader-progress" id="progress_div">
<div class="bar" id="bar1"></div>
</div>
<div class="percent" id="percent1">0%</div>
<div class="loading-text"> CARREGANDO... </div>
</div>
</div> --->


<div class="mobile-menu-overlay"></div>
<div class="main-container">
<div class="xs-pd-20-10 pd-ltr-20">
<div class="title pb-20">
<h2 style="color:white;" class="h3 mb-0">PAINEL</h2>
</div>
<div class="row pb-10">
<% if(Junim) { %>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-20 text-dark">Moonlight Diz:</div>
<div class="font-14 text-secondary weight-500">
<%= msgAdm2 %>!
</div>
</div>



<div class="widget-icon" data-bgcolor="#F7C3FF" data-color="#000">
<div class="icon">
<i class="icon-copy fa-thin fa-bullhorn faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<% } %>
<% if (!user.isBanido===true) { %>

<% if (!user.isAdm===true) { %>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Bem vindo</div>
<div class="font-14 text-secondary weight-500">
<%= user.username %>!
</div>
</div>

<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa-thin fa-user faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<% } else { %>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Bem vindo Adm</div>
<div class="font-14 text-secondary weight-500">
<%= user.username %>!
</div>
</div>

<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa-thin fa-user faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<% } %>

<% } else { %>


<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="status">
<div class="vertical-bar"></div>
<p class="current-time">
<h4>Usuário(a) Banido(a)!<h4>
</p>
</div>
</div>
</div>
</div>
</div>

<% } %>


<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-16 text-dark">
<%= quantidade %>
</div>
<div class="font-14 text-secondary weight-500">
Registrados
</div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa-thin fa-list faa-pulse animated faa-slow"></i>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-16 text-dark">
<%= user.saldo %>
</div>
<div class="font-14 text-secondary weight-500">
Request restante 
</div>
</div>
<div class="widget-icon">
<div class="icon">
<span class="fa-thin fa-wallet faa-pulse animated faa-slow"></span>
</div>
</div>
</div>
</div>
</div>
<!--<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">400+</div>
<div class="font-14 text-secondary weight-500">
Total Doctor
</div>
</div>
<div class="widget-icon">
<div class="icon">
<i
class="icon-copy fa fa-stethoscope"
aria-hidden="true"
></i>
</div>
</div>
</div>
</div>
</div>-->
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-16 text-dark">
<%= user.key %>
</div>
<div class="font-14 text-secondary weight-500">Chave/Apikey</div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa-thin fa-key faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-16 text-dark">
20/03/2025
</div>
<div class="font-14 text-secondary weight-500">Data da criação</div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa-thin fa-calendar faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

</div>

<div class="row">
<div class="col-lg-4 col-md-6 mb-20">
<div class="card-box height-100-p pd-20 min-height-200px">
<div class="d-flex justify-content-between pb-10">
<div class="h5 mb-0">Top Usuários</div>

</div>
<div class="user-list">
<ul>

<% topUsers.sort((a, b)=> b.level - a.level).forEach(function(user) { %><br>
<li class="d-flex align-items-center justify-content-between">
<div class="name-avatar d-flex align-items-center pr-2">
<div class="avatar mr-2 flex-shrink-0">
<div class="profile-container">
<a href="<%= user.yt %>"><img src="<%= user.ft %>" class="profile-img" width="50" height="50" alt="<%= user.username %>" /></a>
<% if(user.isPremium ) { %>
<img class="verified-badge" src="https://i.top4top.io/p_306167nx30.gif" alt="Verificado Premium">
<% } else if(user.isAdm ) { %>
<img class="verified-badgeAdm" src="https://files.catbox.moe/o11rmn.png" alt="Verificado Premium">
<% } %>
</div>
</div>
<div class="txt">
<span class="badge badge-pill badge-sm" data-bgcolor="#e7ebf5" data-color="#265ed7">
Level: <%= user.level %>
</span>
<div class="font-14 weight-600">
<%= user.username %>
</div>
<div class="font-12 weight-500">
<% if(user.isAdm) { %>
<span style="color: blue;">Usuário Adm</span>
<% } else if(user.isLite) { %>
<span style="color: pink;">Plano Lite</span>
<% } else if(user.isPremium) { %>
<span style="color: blue;">Plano Premium</span>
<% } else if(user.isGold) { %>
<span style="color: gold;">Plano Gold</span>
<% } else { %>
<span style="color: #b2b1b6;">Plano Free</span>
<% } %>
</div>
</div>
</div>

</li>

<% }); %>
</ul>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 mb-20">

</div>


</div>

<footer>
Feito com ♥️ por <span>Moonlight</span> | © <script>document.write(new Date().getFullYear());</script><br>
 Base api by: Clover
</footer>

</div>
</div>

<!-- welcome modal end -->
<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<% if (typeof aviso2 !== 'undefined' && aviso2) { %>
<script>
Swal.fire({
title: 'Moonlight Api Informa',
text: `<%- aviso2 %>`,
footer: 'Atenciosamente: Moonlight_Devs',
imageWidth: 200,
imageHeight: 200,
imageAlt: ':)',
animation: true,
showCancelButton: true,
confirmButtonText: 'OK',
cancelButtonText: 'Fechar',
customClass: {
popup: 'custom-popup',
title: 'custom-title',
footer: 'custom-footer'
}
})
</script>
<% } %>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/core.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/script.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/process.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/layout-settings.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/dashboard.js"></script>
<script>
function createStars() {
const starContainer = document.getElementById('stars');
for (let i = 0; i < 120; i++) {
let star = document.createElement('span');
star.classList.add('star');
let x = Math.random() * window.innerWidth;
let y = Math.random() * window.innerHeight;
star.style.top = `${y}px`;
star.style.left = `${x}px`;
star.style.animationDelay = `${Math.random() * 2}s`;
starContainer.appendChild(star);
}
}

function createShootingStar() {
let shootingStar = document.createElement('span');
shootingStar.classList.add('shooting-star');
let startX = Math.random() * window.innerWidth;
let startY = Math.random() * window.innerHeight * 0.5;
shootingStar.style.top = `${startY}px`;
shootingStar.style.left = `${startX}px`;
shootingStar.style.animationDuration = `${1.2 + Math.random()}s`;
document.body.appendChild(shootingStar);
setTimeout(() => {
shootingStar.remove();
}, 1500);
}

setInterval(createShootingStar, 1000);
createStars();
</script>
<script>
  document.getElementById("current-date").textContent = new Date().toLocaleDateString("pt-BR");
</script>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
style="display: none; visibility: hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>